<h1
  style="
    font-family: arial;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #2979d1;
  "
>
  Pineapple Test Scheduler Application has been Successfully Shut Down. You need to
  restart it again from the main server. The service has been shut down for
  everyone.
</h1>
<style>
  html {
    background-color: black;
  }
  h1 {
    margin-top: 100px;
  }
</style>